@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

/* ----------- */
/* -Variables- */
/* ----------- */

:root{
  --fs-timer: 3rem;
  --fs-h1: 2rem;
  --fs-h2: 1.5rem;
  --fs-body: 1rem;
  --fs-mini: 0.5rem;

  --clr-light: #edf2f4;
  --clr-dark: #0b090a;
  --clr-accent: #a10c1e;

  --fw-reg: 400;
  --fw-bold: 700;
}



/* ----------- */
/* --General-- */
/* ----------- */

*{
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}

.app{
  width: 100vw;
  height: 100vh;
  background-color: var(--clr-light);
}

.btn{
  border: 1px solid var(--clr-dark);
  border-radius: 0.7em;
  background-color: var(--clr-light);
  font-weight: var(--fw-bold);
  padding: 0.5em 1em;
  cursor: pointer;
}

.btn-large{
  font-size: var(--fs-h2);
  width: 100%;
}

.btn-small{
  font-size: var(--fs-mini);
  background-color: var(--clr-accent);
  color: var(--clr-light);
  border: none;
}

.start-routine-btn{
  margin: 0 auto;
  color: var(--clr-light);
  background: var(--clr-accent);
  border: none;
  font-size: var(--fs-timer);
  max-width: 90%;
}

.input{
  width: 100%;
  padding: 0.2em 0em;
  border: 1px solid var(--clr-dark);
  border-radius: 5px;
  background-color: var(--clr-light);
  font-size: var(--fs-h2);
  font-weight: var(--fw-bold);
  text-align: center;
}


.number-input{
  width: 100px;
  text-align: center;
}

.secondary-input-container select {
  width: 45%
}

.btn:hover{
  transform: scale(1.05);
}

.btn:active{
  filter: brightness(0.7)
}

/* ----------- */
/* -Typography */
/* ----------- */

h1{
  font-size: var(--fs-h1);
  font-weight: var(--fw-bold);
}

h2{
  font-size: var(--fs-h2);
  font-weight: var(--fw-bold);
}

p{
  font-size: var(--fs-body);
  font-weight: var(--fw-reg);
}

.bold{
  font-weight: var(--fw-bold);
}

.link{
  font-size: var(--fs-h1);
  font-weight: var(--fw-bold);
  color: var(--clr-light);
  text-decoration: none;
}

.selected{
  color: #edf2f4cc;
  border-bottom: 2px solid #edf2f4cc;
}


/* ----------- */
/* --Specific- */
/* ----------- */

.navbar{
  margin: 0;
  background-color: var(--clr-accent);
  padding: 30px;
  width: 100vw;
  color: var(--clr-light);
  display: flex;
  align-items: center;
  gap: 2em;
}

.page-title{
  margin-top: 20px;
  text-align: center;
}

.bottom-bar{
  padding: 70px 20px 40px 20px;
  text-align: center;
  background-color: var(--clr-accent);
  position: fixed;
  bottom: 0;
  height: fit-content;
  width: 100vw;
  color: var(--clr-light);
  transform: translateY(0%);
  transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}

.bottom-bar h1 {
  margin-bottom: 30px;
}

.hidden{
  transform: translateY(calc(100% - 60px));
}

.routine-item{
  min-width: 250px;
  width: 90vw;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 1em;
  border-bottom: 2px solid var(--clr-accent);
  justify-content: space-between;
}

.routine-item:last-child{
  border-bottom: none;
}

.toggle-bottom-bar{
  position: absolute;
  top: 1em;
  right: 0;
  left: 0;
  margin: 0, auto;
  background-color: inherit;
  border: none;
  cursor: pointer;
}

.arrow-icon{
  background-color: none;
  width: 45px;
}

.timer-page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 124px);
}

.routine-page{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2em;
}

.form-container{
  margin: 0 auto;
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5em;
}

.secondary-input-container{
  display: flex;
  width: 100%;
  gap: 1em;
}

.timer-text {
  text-align: center;
  font-size: var(--fs-timer);
  color: black;
}

.timer-next-text {
  text-align: center;
  color: rgba(0, 0, 0, 0.671)
}

.check-label {
  font-size: var(--fs-h2);
  font-weight: bold;
  line-height: 1.1;
  display: flex;
  align-self: center;
  gap: 0.5em;
  user-select: none;
}

input[type=checkbox] {
  padding: 5em;
  width: 50px;
}


/* ----------- */
/* --Queries-- */
/* ----------- */

@media screen and (min-width: 1000px) {
  :root{
    --fs-timer: 4rem;
    --fs-h1: 3rem;
    --fs-h2: 2rem;
    --fs-body: 1.2rem;
    --fs-mini: 1rem;
  }


  .bottom-bar{
    flex-direction: row;
  }

  .form-container{
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .routine-item{
    width: 800px;
  }

  .input{
    padding: 0.5em;
    width: 50%
  }

  .number-input{
    width: 100px;
  }

  .secondary-input-container{
    width: fit-content;
  }
  
  .btn-large{
    font-size: var(--fs-h2);
    width: 200px;
  }
  
  .btn-small{
    font-size: var(--fs-body);
  }



}

